:root {
	--black: #3b434e;
	--white: #fff;
	--primary: #7653fc;
	--primary-hover: #6344df;
	--red: #fc8360;
	--green: #1dc37e;
	--green-light: #c8f8e4;
	--grey-light: #ebebeb;
	--grey-dark: #8f8f8f;
}
