@import '../../../styles/variables.scss';

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	color: var(--grey-dark);
	border: 1px solid var(--grey-light);
	border-radius: 6px;
	max-width: 150px;
	height: 25px;
	cursor: pointer;
	&:hover {
		color: var(--black);
		transition: all 0.25 ease-in;
	}
}
