@import '../../styles/variables.scss';

.post {
	&__number {
		font-size: 16px;
		font-weight: 600;
	}
	&__container {
		border: 1px solid var(--grey-light);
		padding: 10px;
		border-radius: 6px;
	}
}

.post__title_block {
	display: flex;
	gap: 10px;
}
