@import '../../styles/variables.scss';

.post {
	&__container {
		border: 1px solid var(--grey-light);
		padding: 10px;
		border-radius: 6px;
	}
}

.post__title_block {
	display: flex;
	align-items: center;
	gap: 10px;
}
